.container {
    width: 100%;
    background-color: #333;
    border-style: solid;
    margin-top: 30px;
    border-radius: 5px;
}

.container div {
    font-size: 20px;
    color: whitesmoke;

}

div h2 {
    text-align: center;
}

div p {
    text-align: center;
}



